@import "./src/common/styles/sass/variables.module";

.nav {
  border: 1px white solid;
  background-color: $secondaryBgColor;

}

.item a {
  /*display: flex;*/
  /*margin-bottom: 5px;*/
  color: $textColor;
  text-decoration: none;

}

.item a {

}

.item a.active {
  /*color: gold;*/

}


.friends {
}

.friendItem {
  margin-right: 15px;
}

.friends img {
  margin-top: 20px;
  width: 35px;
  height: 30px;
  border-radius: 30px;
}

.name {
  font-size: 10px;
}