@import './common/styles/sass/variables.module';
@import './common/styles/sass/mixins.module';

.App {

  @include text(16px);
  background-color: $globalBgColor;
  border: white 1px solid;
  width: 100%;
  margin: auto;
}


.navAndMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
}