@import './common/styles/sass/variables.module';
@import './common/styles/sass/mixins.module';

.App {
  @include text(16px);
  background-color: $globalBgColor;
  border: white 1px solid;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 16px 48px 16px 32px;
}


.navAndMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
}